{
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ]
}
